$main-color: #2196f3;
$alt-color: #1787e0;
$section-bg: #ececec;
$main-pd: 100px 0;
$long-transition: 2s ease;
$short-transition: 0.3s ease-in-out;
$small-heading: 18px;
$medium-heading: 24px;
$large-heading: 35px;